@page
@model Stratosphere.Pages.Administration.IndexModel
@Html.AntiForgeryToken()
@{
    Layout = "_Layout";

    ViewData["Title"] = "Administration";
}

@section Scripts {
    <script src="~/js/Administration/Administration.js"></script>
}

<div class="pb-2">
    <h1>Administration</h1>
</div>

<div class="mainCard admin-grid-container overflow-hidden">
    <div class="adminAreaRow flex-column align-items-left admin-grid-menu">
        <div id="Alarms" class="pb-2">
            <div class="btn btn-primary adminAreaButton">
                <span>Alarms</span>
            </div>
        </div>
        <div id="Assets" class="pb-2">
            <div class="btn btn-primary adminAreaButton">
                <span>Assets</span>
            </div>
        </div>
        <div id="AssetTypes" class="pb-2">
            <div class="btn btn-primary adminAreaButton">
                <span>Asset Types</span>
            </div>
        </div>
        <div id="Contacts" class="pb-2">
            <div class="btn btn-primary adminAreaButton">
                <span>Contacts</span>
            </div>
        </div>
        <div id="Environments" class="pb-2">
            <div class="btn btn-primary adminAreaButton">
                <span>Environments</span>
            </div>
        </div>
        <div id="Queues" class="pb-2">
            <div class="btn btn-primary adminAreaButton">
                <span>Queues</span>
            </div>
        </div>
        <div id="Services" class="pb-2">
            <div class="btn btn-primary adminAreaButton">
                <span>Services</span>
            </div>
        </div>
        <div id="ServiceTypes" class="pb-2">
            <div class="btn btn-primary adminAreaButton">
                <span>Service Types</span>
            </div>
        </div>
        <div id="Users" class="pb-2">
            <div class="btn btn-primary adminAreaButton">
                <span>Users</span>
            </div>
        </div>
    </div>

    <div id="adminObjectContainer" class="adminAreaRow admin-grid-content position-relative">
        <h5>Select a menu option on the left to manage specific areas of the application</h5>
    </div>
</div>