@page
@model Stratosphere.Pages.Administration.IndexModel
@{
}


<h1>Admin</h1>

<div class="content mainCard">
    <div class="row d-flex justify-content-between mainCardContent">
        <div class="row">
            <div class="card adminAreaButton col-6">
                <span class="col-4"><i class="bi bi-person-lines-fill pe-4"></i>Alarms</span>
            </div>
            <div class="card adminAreaButton col-6">
                <span class="col-4"><i class="bi bi-person-lines-fill pe-4"></i>Assets</span>
            </div>
        </div>
        <div class="row">
            <div class="card adminAreaButton col-6">
                <span class="col-4"><i class="bi bi-person-lines-fill pe-4"></i>Contacts</span>
            </div>
            <div class="card adminAreaButton col-6">
                <span class="col-4"><i class ="bi bi-person-lines-fill pe-4"></i>Environments</span>
            </div>
        </div>
        <div class="row">
            <div class="card adminAreaButton col-6">
                <span class="col-4"><i class="bi bi-person-lines-fill pe-4"></i>Queues</span>
            </div>
            <div class="card adminAreaButton col-6">
                <span class="col-4"><i class="bi bi-person-lines-fill pe-4"></i>Services</span>
            </div>
        </div>
    </div>
</div>