@page
@model Stratosphere.Pages.Administration.Services.IndexModel
@{
}

@* 
<div class="row">
    <div class="d-flex col-6 justify-content-start">
        <h1>Services</h1>
    </div>
    <div class="d-flex col-6 justify-content-end">
        <button type="button" class="btn btn-primary adminCreateButton" data-bs-toggle="modal" data-bs-target="#createModal">
            <span><i class="bi bi-plus-square me-2"></i>Add Service</span>
        </button>
    </div>
</div>

<div class="content mainCard">
    <div class="modal fade" id="createModal" tabindex="-1" data-bs-backdrop="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create New Service</h4>
                    <button type="button" class="btn modal-close-button" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off">
                        <div class="form-group required">
                            <label for="serviceName">Name</label>
                            <input type="text" class="form-control" id="serviceName" placeholder="Name" required="true">
                        </div>
                        <div class="form-group required">
                            <label for="serviceDescription">Description</label>
                            <input type="text" class="form-control" id="serviceDescription" placeholder="Description" required="true">
                        </div>
                        <div class="form-group required">
                            <label for="serviceType" class="form-label">Service Type</label>
                            <select id="serviceTypeOptions" name="serviceTypeOptions" class="modalSelectOptions">
                                <option value="" disabled selected hidden>Select an option</option>
                                @foreach (var type in serviceTypes)
                                {
                                    <option value="@type">@type</option>
                                }
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="newServiceSubmit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div> *@