@using Stratosphere.Pages.Administration.Queues.ViewModels;
@model QueueProvidersVM
@{
    var pageType = "Queues";
    var pageTypeSingle = "Queue Provider";
    var refreshGridHelper = "QueueProvidersData";
}

<div class="d-flex row w-100 align-items-start">
    <div class="row adminHeaderRow">
        <div class="d-flex col-6 justify-content-start">
            <h1>@pageType</h1>
        </div>
        <div id="@refreshGridHelper" class="d-flex col-6 justify-content-end">
            <button type="button" id="adminRefreshGridButton" class="btn btn-secondary adminHeaderButton me-3 loadingEligible">
                <span><i class="bi bi-arrow-clockwise me-2"></i>Refresh Grid</span>
            </button>
            <button type="button" id="adminCreateButton" class="btn btn-primary adminHeaderButton" data-bs-toggle="offcanvas" data-bs-target="#adminCanvas">
                <span><i class="bi bi-plus-square me-2"></i>Add @pageTypeSingle</span>
            </button>
        </div>
    </div>

    <div class="overflow-auto h-90">
        <div id="mainDataTable">
        </div>
    </div>
</div>