html {
    font-size: 14px;
    position: relative;
    height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
    .html {
        font-size: 14px;
    }
}

:root {
    --main-header-height: 60px;
    --main-sidebar-width: 275px;
    --user-container-height: 80px;
    --header-searchbar-width: 400px;
    --main-content-title-height: 60px;
    --admin-menu-width: 270px;
}

[data-theme='dark'] {
    --main-header-color: #181a1b;
    --main-body-color: #212425;
    --main-branding-color: #25282a;
    --main-sidebar-color: #25282a;
    --logo-fill: #d1cdc7;
    --main-color-pop: #a73415;
    --main-text-color: #d1cdc7;
    /*gridjs*/
    --grid-js-border-color: #4a4e51;
}

[data-theme='light'] {
    --main-header-color: #ffffff;
    --main-body-color: #efefef;
    --main-branding-color: #e8e8e8;
    --main-sidebar-color: #e8e8e8;
    --logo-fill: #454545;
    --main-color-pop: #e76846;
    --main-text-color: #454545;
    /*gridjs*/
    --grid-js-border-color: #4a4e51;
}

::selection {
    background-color: var(--main-color-pop);
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.grid-container {
    display: grid;
    grid-template-columns: var(--main-sidebar-width) 1fr;
    grid-template-rows: var(--main-header-height) 1fr;
    grid-template-areas:
        "branding header"
        "sidebar main";
}

.admin-grid-container {
    display: grid;
    height: calc(100vh - (3 * var(--main-header-height)));
    grid-area: content;
    grid-template-columns: var(--admin-menu-width) 1fr;
    grid-template-areas:
        "menu content";
}

.admin-grid-menu {
    grid-area: menu;
}

.btn-primary {
    background-color: var(--main-color-pop) !important;
    border-color: var(--main-color-pop) !important;
    color: var(--main-text-color) !important;
    transition: background-color 0.2s ease;
}

.brandingLogo {
    background-color: var(--main-branding-color);
    color: var(--logo-fill);
    grid-area: branding;
}

    .brandingLogo h2 {
        font-size: 36px;
    }

.header {
    background-color: var(--main-header-color);
    grid-area: header;
}

    .header #headerSearchContainer {
        width: var(--header-searchbar-width);
    }

        .header #headerSearchContainer .headerSearchInputContainer {
            color: var(--main-text-color);
            background-color: var(--main-sidebar-color);
            border-top-left-radius: .5rem;
            border-bottom-left-radius: .5rem;
        }

            .header #headerSearchContainer .headerSearchInputContainer:focus-within {
                outline: solid 2px var(--main-color-pop);
            }

            .header #headerSearchContainer .headerSearchInputContainer .headerSearchInput {
                border: none;
                background-color: var(--main-sidebar-color);
                outline: none;
            }

        .header #headerSearchContainer .searchRoundedEnd {
            border-top-right-radius: .5rem;
            border-bottom-right-radius: .5rem;
            background-color: var(--main-color-pop);
            color: var(--main-text-color);
            font-size: 1.25rem;
            cursor: pointer;
        }

.sidebar {
    background-color: var(--main-sidebar-color);
    color: var(--logo-fill) !important;
    grid-area: sidebar;
}

    .sidebar .sidebarUserContainer {
        background-color: var(--main-header-color);
        height: var(--user-container-height);
    }

    .sidebar .sidebarUserContainer #sidebarUser {
        font-size: 24px;
    }

.main {
    background-color: var(--main-body-color);
    grid-area: main;
    color: var(--logo-fill) !important;
}

.main #mainHeaderNavLayer {
    height: 60px;
}

.main .mainCard {
    padding: 1rem;
    background: var(--main-header-color);
    border-radius: 1rem;
    min-height: 500px;
}

/*bootstrap modal helpers*/
.modal-content {
    background-color: var(--main-body-color);
}

.form-control, .form-control:focus {
    background-color: var(--main-header-color);
    color: var(--main-text-color);
}

    .form-control:focus {
        background-color: var(--main-header-color);
    }

.modalSelectOptions {
    background-color: var(--main-header-color);
    color: var(--main-text-color);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: flex;
    font-size: 1rem;
    width: 100%;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid var(--main-text-color);
    border-radius: .25rem;
    padding: .375rem .75rem;
}

.navTab {
    color: var(--main-sidebar-color);
    font-size: 2rem;
    padding: 0 .5rem .5rem .5rem;
    margin: 0 .25rem 0 .25rem;
    user-select: none;
}

    .navTab.active {
        color: var(--main-color-pop);
    }

.adminCreateButton {
    height: 80%;
}

.adminAreaRow {
    padding: 1rem;
}

.adminHeaderRow {
    height: var(--main-header-height);
    width: 100%;
    position: sticky;
}

.mainCard .offcanvas {
    position: absolute;
    background-color: var(--main-header-color);
    width: 70%;
    transition: none !important;
    margin-top: -1rem; /*reverting the padding added to the outermost container card*/
    margin-bottom: -1rem; /*reverting the padding added to the outermost container card*/
}

.offcanvas-end {
    border-color: var(--main-color-pop);
}

.adminAreaButton {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    background-color: var(--main-body-color) !important;
    border: 0px !important;
    transition: none !important;
}

    .adminAreaButton:hover {
        background-color: var(--main-color-pop) !important;
        transition: none !important;
    }

    .adminAreaButton.active {
        background-color: var(--main-color-pop) !important;
        transition: none !important;
    }

.hoverPointer {
    cursor: pointer;
}

/*bootstrap helpers*/
.h-90 {
    height: 90%;
}

.h-80 {
    height: 80%;
}

.h-70 {
    height: 70%;
}

.h-60 {
    height: 60%;
}

.h-50 {
    height: 50%;
}

.h-40 {
    height: 40%;
}

.h-30 {
    height: 30%;
}

.h-20 {
    height: 20%;
}

.h-10 {
    height: 10%;
}

.w-98 {
    width: 98%;
}

h1 {
    font-size: 40px !important;
}

h2 {
    font-size: 36px !important;
}

h3 {
    font-size: 28px !important;
}

/*gridjs custom styling*/
.gridjs-table, .gridjs-th-content {
    color: var(--logo-fill) !important;
}

input.gridjs-input {
    color: var(--logo-fill) !important;
    background-color: var(--main-body-color) !important;
    border-color: var(--logo-fill) !important;
}

.gridjs-th, .gridjs-tbody, td.gridjs-td {
    background-color: var(--main-body-color) !important;
    border-color: var(--grid-js-border-color) !important;
}

/*footer*/
.gridjs-footer {
    background-color: var(--main-body-color) !important;
    border-color: var(--grid-js-border-color) !important;
}

.gridjs-summary {
    color: var(--logo-fill) !important;
    background-color: var(--main-body-color) !important;
}

.gridjs-pagination > .gridjs-pages > button,
.gridjs-pagination > .gridjs-pages > button:disabled,
.gridjs-pagination > .gridjs-pages > button:hover:disabled,
.gridjs-pagination > .gridjs-pages > button[disabled] {
    color: var(--logo-fill);
    background-color: var(--grid-js-button) !important;
}