@page
@model Stratosphere.Pages.Queues.IndexModel
@{
    Layout = "_Layout";

    var baseEnvironment = Model?.Input?.EnvironmentGroups?.FirstOrDefault()?.Name;
}

<div class="pb-4">
    <h1>Queues</h1>
    <br/>
    <p>The queue section is used to see the current status of the queues grouped by their parent environment. This can be useful to view current message count, number of consumers, and general queue setup definitions.</p>
    <p>In a multi-environment setup, the tabs at the top can be used to quickly navigate between queue details related to their respective environments. In a single environment setup, no tabs will be displayed.</p>
    <p>If you expect a queue to be present here but do not see it, please ensure it's added in the Administration - Queues page.</p>
</div>

<div class="mainCard">
    @if (Model?.Input is null)
    {
        <h4>No data available.</h4>
    } 
    else
    {
        @if (Model.Input.EnvironmentGroups is null || Model.Input.EnvironmentGroups.Count <= 1)
        {
            @*don't show any tab groups*@
        }
        else
        {
            <div class="navTab d-flex">
                @foreach (var environment in Model.Input.EnvironmentGroups)
                {
                    if (environment is null) 
                        continue;

                    var envId = $"{environment.Name}Tab";
                    var activeEnv = (environment.Name?.Equals(baseEnvironment) ?? false) ? "active" : "";

                    <div id="@envId" class="ps-3 pe-3">
                        <div class="d-flex align-items-center hoverPointer">
                            <span class="navTab @activeEnv">@environment.Name</span>
                        </div>
                    </div>
                }
            </div>
        }

        <div id="mainDataTable">

        </div>
    }
</div>

@section Scripts {
    <script>
        $("#mainDataTable").empty().Grid({
            search: true,
            pagination: {
                limit: 25
            },
            sort: true,
            resizable: false,
            columns: [
                { 
                    name: "VHost",
                    width: '280px'
                },
                {
                    name: "Name",
                    width: '280px'
                },
                {
                    name: "Type",
                    width: '175px'
                },
                {
                    name: "State",
                    width: '175px'
                },
                {
                    name: "Messages",
                    width: '140px'
                },
                {
                    name: "Unacked Messages",
                    width: '215px'
                },
                {
                    name: "Consumers",
                    width: '150px'
                }
            ],
            data: () => {
                var jsonData = JSON.parse('@Html.Raw(Json.Serialize(Model.Input.Queues))');

                var jsonFormatted = jsonData.map(item => [
                    item.vHost,
                    item.name,
                    item.type,
                    item.state,
                    item.messages,
                    item.unacknowledgedMessages,
                    item.consumers
                ]);

                return jsonFormatted;
            }
        });
    </script>
}